.product-list h2 {
  margin-top: 20px;
}
table {
  text-align: left;
  color: blueviolet;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid blueviolet;
  padding: 10px 100px 4px 25px;
  min-height: 160pxs;
}

img {
  width: 100px;
  height: 100px;
}
.adjust-update-link {
  margin-left: 25px;
}

// table {
//   text-align: left;
//   color: blueviolet;
//   border-collapse: collapse;
// }
// img {
//   height: 100px;
//   width: 100px;
// }
// table td,
// table th {
//   border: 1px solid blueviolet;
//   padding: 10px;
//   min-width: 160pxs;
// }
// .adjust-update-link {
//   margin-left: 10px;
// }
